# Changelog

Changelog of I18NEditor.

{{#tags}}
 {{#issues}}
  {{#hasIssue}}
   {{#hasLink}}
   {{/hasLink}}
   {{^hasLink}}
   {{/hasLink}}
  {{/hasIssue}}
  {{^hasIssue}}
  {{/hasIssue}}

  {{#commits}}
**{{{messageTitle}}}**

{{#messageBodyItems}}
 * {{.}}
{{/messageBodyItems}}

[{{hash}}](https://github.com/elbosso/i18neditor/commit/{{hash}}) {{authorName}} *{{commitTime}}*

  {{/commits}}

 {{/issues}}
{{/tags}}

